# systemd service for managing all authselect autoconfiguration.

[Unit]
Description=Authselect Configuration Autodiscovery
Before=nss-user-lookup.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/authselect
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/authselect
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

