# systemd service for managing all authselect autoconfiguration.

[Unit]
Description=Authselect Configuration Autodiscovery
Before=nss-user-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/authselect.d start
ExecReload=/usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/authselect.d reload
RemainAfterExit=on
PrivateTmp=true

[Install]
WantedBy=multi-user.target

